
*{
    margin:0;
    padding:0;
    font-size:12px;
    box-sizing: border-box;
    font-family: "Î¢ÈíÑÅºÚ";
}
a{
    text-decoration:none;
}
a{
    color:#666;
}
.lf{
    float:left;
}
.rf{
    float:right;
}
.clear{
    clear:both;
}
.bg{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.bg > img {
    height:100%;
    min-height:720px;
    width:100%;
    border:0;
    padding-bottom:80px;
}

.wrap{
    width:1510px;
    margin:0 auto;
}
.logo{
    margin-top:20px;
}
.login{
    width:1000px;
    margin:0 auto;
}
.logodown{
    padding-left:10px;
}
.middle{
    height:75px;
    text-align:center;
}
.down{
    font-size:16px;
    color:#fff;
    position:absolute;
    top:-30px;
    left:5px;
}
.up{
    width:15px;
    height:15px;
    vertical-align: middle;
}
.right{
    margin-left:25px;
    margin-right:10px;
    margin-bottom:38px;
    position:relative;
    color:#fff;
}
.right_detail{
    position:relative;
    display:inline-block;
    margin-left:5px;
}
.email,.pass,.passtest{
    padding-left:35px;
    width:320px;
    height:50px;
    line-height:50px;
    border:1px solid #bfbfc0;
    border-radius:5px;
    background:#f0f0f0;
    font-size:17px;
}
.emailicon,.passicon,.passtesticon{
    background:url(../../img/login/icon.png) no-repeat 0  6px;
    display:block;
    width:25px;
    height:25px;
    position:absolute;
    top:10px;
    left:12px;
}
.passicon{
    background-position:0 -52px;
}
.passtesticon{
    background-position:0 -125px;
}
.passtest{
    width:160px;
    height:50px;
    line-height:50px;
    border-radius:5px;
    border:1px solid #bfbfc0;
}
.rember_user{
    position:absolute;
    top:60px;
    right:0;
    font-size:15px;
    color:#fff;
}
.rember_user i{
    background:url(../../img/login/icon.png) no-repeat 0 190px;
}
.LG{
    font-size:20px;
    font-weight:bold;
    width:80px;
    height:80px;
    border-radius:80px;
    background:#00bae9;
    color:#fff;
    border:none;
    box-shadow:0 2px 2px #0076e6;
}
.fright{
    color:#fff;
    font-size:20px;
    font-weight: bold;
    padding-left:45px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:80px;
    line-height:79px;
    background:#00b2da;
    text-align:center;
    border:1px solid #fff;
}
.link a{
    color:#fff;
    font-size:20px;
}